<div class="page-container index">
    <div class="text-wrapper">
        <h1>Bienvenido a Chirper</h1>
        <p class="tagline">Chirper es un clon de Twitter, pero construido en Ember.js</p>
        <div class="login-box">
            {{input placeholder="Usuario" value=username}}
            {{input placeholder="Contraseña" value=password type="password"}}
            <button class="signup">Registrarse</button>
            <button class="login">Iniciar sesión</button>
        </div>
    </div>
</div>